@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");/* Ruta del archivo .ttf */
}

/* Estilos generales */
.root {
    -fx-font-family: 'Montserrat';
    -fx-background-color: #e0f7fa; /* Un color suave y relajante */
}

/* Estilos para el VBox principal */
.vbox {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

/* Estilos para el GridPane */
.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-background-color: #ffffff; /* Fondo blanco para el formulario */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #b2ebf2; /* Borde suave */
    -fx-border-width: 2;
}

/* Estilos para las etiquetas */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #008F6F; /* Color de texto oscuro y relajante */
    -fx-font-weight: bold;
}

.errormessage {
    -fx-text-fill: red;
}

/* Estilos para los campos de texto */
.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #b2ebf2; /* Borde suave */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #00bcd4; /* Borde más llamativo al enfocar */
}

/* Estilos para el botón de registro */
.button {
    -fx-font-size: 14px;
    -fx-background-color: #1ca381; /* Color de botón temático */
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #008F6F; /* Color más oscuro al pasar el mouse */
}

/* Estilos para el título */
.title {
    -fx-font-size: 24px;
    -fx-text-fill: #008F6F;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}


/* Estilos para íconos o imágenes (opcional) */
.icon {
    -fx-fill: #008F6F;
    -fx-cursor: hand;
}

.icon:hover {
    -fx-opacity: 0.8;
}

/* Estilos para el DatePicker */
.date-picker {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #b2ebf2; /* Borde suave */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.date-picker .arrow-button {
    -fx-background-color: #1ca381; /* Color de botón temático */
    -fx-background-radius: 5;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #008F6F; /* Color más oscuro al pasar el mouse */
}

.date-picker .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #b2ebf2; /* Borde suave */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.link:hover {
    -fx-font-size: 14px;
    -fx-text-fill: #1ca381; /* Color de texto oscuro y relajante */
    -fx-font-weight: bold;
}

/* Estilos para el TabPane */
.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 120px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
    -fx-background-color: #e0f7fa; /* Fondo suave para las pestañas */
}

.tab {
    -fx-background-color: #1ca381; /* Color de fondo de las pestañas */
    -fx-text-fill: white; /* Color del texto de las pestañas */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #008F6F; /* Color de fondo de la pestaña seleccionada */
}

.bienvenida {
    -fx-font-size: 24px;
}
/* Estilos para noticias */
.titulo-noticia {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.subtitulo-noticia {
    -fx-font-size: 14px;
    -fx-text-fill: #7f8c8d;
    -fx-font-style: italic;
    -fx-wrap-text: true;
    -fx-max-width: 400px;
}

.noticias {
    -fx-font-size: 20px;
}

.separator .line {
    -fx-background-color: #008F6F;
    -fx-pref-height: 4;
    -fx-border-color: null ;
}

/* Estilos para las tarjetas de historial médico */
.tarjeta-historial {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.titulo-historial {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.subtitulo-historial {
    -fx-font-size: 14px;
    -fx-text-fill: #7f8c8d;
}

.contenido-historial {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
    -fx-wrap-text: true;
}

/* Estilos para el ScrollPane */
.scroll-pane {
    -fx-background-color: transparent; /* Fondo transparente */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Fondo transparente */
}

.scroll-bar:vertical {
    -fx-background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #7F8C8D; /* Color del "thumb" (barra deslizante) */
    -fx-background-radius: 5px; /* Bordes redondeados */
}

/* Flechas scroll */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}